.info_container {
    max-width: 100%;
    height: 60vh;
    overflow: hidden;
}

.office_space_container {
    max-width: 100%;
    height: 73vh;
    padding-top: 0;
}

.info_guide_container{
    height: 60vh;
    max-width: 100%;
    overflow-y: hidden;
}

.info_prop_container {
    max-width: 100%;
    height: 60vh;
    overflow-y: hidden;
}

.info_app_container {
    max-width: 100%;
    height: 76vh;
    background-color: #f4f7f6e3;
    /* overflow-y: hidden; */
}

.info_inner_container {
    width: 100%;
    display: grid;
    max-width: 75%;
    margin: 0px auto;
    padding-top: 3rem;
    grid-template-columns: repeat(2,1fr);
}

.space_inner_container{
    width: 100%;
    display: grid;
    max-width: 75%;
    margin: 0px auto;
    padding-top: 3rem;
    grid-template-columns: repeat(2,1fr);
}

.info_interior_container {
    width: 100%;
    display: grid;
    max-width: 75%;
    margin: 0px auto;
    grid-template-columns: repeat(2,1fr);
}

.info_interiorprop_container {
    width: 100%;
    display: grid;
    max-width: 75%;
    margin: 0px auto;
    grid-template-columns: repeat(2,1fr);
}

.info_app_subContainer {
    height: 75vh;
    display: grid;
    max-width: 75%;
    margin: 0 auto;
    grid-template-columns: repeat(2,1fr);
    position: relative;
}

.info_description {
    width: full;
    height: 60vh;
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    text-align: left;
    align-items: start;
    padding: 2rem 8rem 0 0;
    flex-direction: column;
    background-color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.office_info_style {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: justify;
    text-align: left;
    margin: 0 4rem 0 0;
}

.office_info_style > .info_title {
    padding-top: 4.6rem;
    font-size: 34px;
    font-weight: bolder;
    margin-bottom: 0;
}

.office_info_style > .info_para {
    font-size: 16px;
    font-weight: normal;
}

.info_guide {
    display: flex;
    text-align: left;
    padding-top: 4rem;
    align-items: start;
    padding-right: 7rem;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.info_prop {
    margin: 0;
    height: 60%;
    display: flex;
    max-width: 100%;
    text-align: left;
    align-items: start;
    padding-left: 7rem;
    justify-content: start;
    flex-direction: column;
}

.app_info {
    height: 60vh;
    display: flex;
    max-width: 78%;
    margin: 0 auto;
    text-align: left;
    align-items: start;
    padding-left: 6rem;
    margin-top: 6rem;
    justify-content: center;
    flex-direction: column;
}

.app_info > .info_title {
    margin: 0;
    font-size: 45px;
    max-width: 49%;
}

.app_info > .info_para {
    font-size: 15px;
    height: 1px;
    margin: 0;
    text-align: justify;
}

.info_guide .info_title {
    margin: 0;
    font-weight: 300;
    padding-top: 5px;
}

.info_guide .info_subtitle {
    font-size: 26px;
    font-weight: 500;
    color: #1f4b43;
}

.info_guide .info_para {
    margin: 0;
    padding: 0;
    color: #141115;
}

.info_guide .info_btnn {
    padding-top: 1rem;
}

.info_title {
    font-size: 27px;
    color: #1F4B43;
    font-weight: bolder;
}

.info_subtitle {
    color: #1F4B43;
    font-size: 15.5px;
    font-weight: light;
}

.info_para {
    color: #141115;
    padding-bottom: 7rem;
}

.info_image {
    width: 100%;
    height: 50vh;
    display: flex;
    padding-left: 50px;
    align-items: center;
    justify-content: center;
}

.officeImageStyle {
    margin: 0 auto;
}

.info_comprehensive {
    width: 100%;
    height: 50vh;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-items: flex-start;
}

.app_image_container {
    max-width: 100%;
    height: 75vh;
    display: flex;
    padding-left: 50px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.appImage {
    height: 69.9vh;
    max-width: 100%;
    object-fit: cover;
    margin-right: 5rem;
    position: absolute;
    left: 55px;
    top: 10px;
}

.image {
    height: 310px;
    max-width: 100%;
    object-fit: cover;
    margin-right: 5rem;
}

.spaceImage {
    object-fit: cover;
}

.mapImage {
    height: 400px;
    max-width: 100%;
    object-fit: cover;
    margin-right: 5rem;
}

.info_circle {
    gap: 1rem;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 1.9rem;
}

.info_circle_img {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.circle_image {
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

@media (max-width: 841px) {  
    .info_container {
        width: 100%;
        height: 110vh;
        overflow:hidden;
    }

    .office_space_container {
        height: 120vh;
        padding-top: 0;
        max-width: 100%;
        overflow: hidden;
    }

    .info_app_container {
        height: 110vh;
        max-width: 100%;
        overflow-y: hidden;
    }

    .info_app_subContainer {
        display: grid;
        height: 110vh;
        margin: 0 auto;
        max-width: 95%;
        position: relative;
        grid-template-columns: repeat(1,1fr);
    }

    .app_info {
        height: 70vh;
        max-width: 90%;
        padding-left: 0;
        margin-top: 1rem;        
        text-align: center;
        align-items: center;
    }
    
    .app_info > .info_title {
        margin: 0;
        max-width: 90%;
        font-size: 35px;
    }
    
    .app_info > .info_para {
        margin: 0;
        height: 0px;
        font-size: 12px;
        text-align: center;
        font-weight: normal;
        padding: 0 0 6rem 0;        
    }

    .app_image_container {
        margin: 2rem;
        height: 50vh;
        max-width: 100%;
        padding-left: 0;
        position: relative;        
    }
    
    .appImage {
        top: 0rem;
        height: 40vh;
        left: 2.6rem;
        margin: 0 auto;
        max-width: 80%;
        margin-right: 0;
        object-fit: cover;
        position: absolute;
    }

    .space_inner_container{
        width: 90%;
        margin-right: 40rem;
        grid-template-columns: repeat(1,1fr);
    }
    
    .officeImageStyle {
        margin: 0;
        padding-right: 8rem;
        
    }
    
    .office_info_style {
        display: flex;
        text-align: center;
        align-items: center;
        text-align: justify;
        margin-right: 13rem;
        flex-direction: column;
        justify-content: start;
    }
    
    .office_info_style > .info_title {
        padding-top: 0;
        font-size: 29px;
        margin-bottom: 0;
        font-weight: bolder;
    }
    
    .office_info_style > .info_para {
        font-size: 15px;
        font-weight: normal;
    }

    .info_guide_container{
        width: 100%;
        display: flex;
        height: 110vh;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    
    .info_prop_container {
        width: 100%;
        display: flex;
        height: 115vh;
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .info_inner_container {
        max-width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .info_interior_container {
        max-width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .info_interiorprop_container {
        max-width: 100%;
        grid-template-columns: repeat(1,1fr);
    }

    .info_description {
        width: 100%;
        margin: 0px auto;
    }

    .info {
       padding: 0;
       display: flex;
       text-align: center;
       align-items: center;
       flex-direction: column;
       justify-content: center;
    }

    .info_para {
       width: 100%;
       color: #141115;
       text-align: justify;
       padding-bottom: 10rem;
    }

    .info_guide {
        display: flex;
        padding-top: 4rem; 
        text-align: center;
        padding-bottom: 0px;
        padding-right: 0rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .info_prop {
        display: flex;
        max-width: 100%;
        padding-top: 4rem; 
        text-align: center;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 5rem 0.5rem 0rem;
    }

    .info_guide .info_title {
        margin: 0;
        font-size: 16;
        font-weight: 300;
        padding-top: 5px;
        text-align: center;
    }

    .info_guide .info_subtitle {
        font-size: 22px;
        font-weight: 700;
        color: #1f4b43;
        text-align: center;
    }

    .info_guide .info_para {
        margin: 0;
        padding: 0;
        width: 90%;
        display: flex;
        color: #141115;
        text-align: center;
        text-align: justify;
        align-items: center;
        justify-content: center;
    }

    .info_image {
        width: 100%;
        height: 40vh;
        display: flex;
        padding-top: 2rem;
        padding-left: 3rem;
        align-items: center;
        justify-content: center;
    }

    .image {
        height: 300px;
        max-width: 100%;
        margin-right: 2rem;
        padding-bottom: 2rem;
    }

    .mapImage {
        height: 400px;
        max-width: 100%;
        object-fit: cover;
        align-items: center;        
        margin-right: 6.5rem;
    }

    .info_circle {
        margin-bottom: 1rem;
        justify-content: center;
    }

}