.footer-main {
    width: 100%;
    height: 45vh;
    display: grid;
    background-color: #1F4B43;
}

.first_grid_section {
    width: 75%;
    height: 29vh;
    display: flex;
    color: #fff;
    margin: 0 auto;
    text-align: left;
    flex-direction: row;
}

.grid1 {
    width: 30%;
}

.grid2, .grid3, .grid4, .grid5 > p {
    width: 90%;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

.grid1 > h2 {
    font-size: 25px;
    font-weight: 400px;
    font-family: 'Times New Roman', Times, serif;
}

.iconStyle{
    width: 60%;
    display: flex;
    font-size: 1.3rem;
    justify-content: space-between;
}


.h3Styles {
    font-size: 20px;
    font-weight: 200px;
    font-family: 'Times New Roman', Times, serif;
}

.grid2, .grid3, .grid4, .grid5 {
    width: 18%;
}

.second_grid_section {
    gap: 37px;
    width: 75%;
    height:6vh;
    display: flex;
    color: #fff;
    margin: 0 auto;
    font-size: 16px;
    position: relative;
    justify-content: flex-start;
    font-family: 'Times New Roman', Times, serif;
}

.infoStyle {
    font-size: 16px;
    padding-left: 1.6rem;
}

.infoStyle1 {
    padding-left: 1rem;
}

.third_grid_section {
    width: 75%;
    height: 4vh;
    display: flex;
    color: #fff;
    margin: 0 auto;
    justify-content: space-between;
    border-top: 2px solid rgb(216, 210, 201);
}

.two_section_container {
    display: flex;
    column-gap: 30;
    flex-direction: column;
}

@media (max-width: 841px) {
    .footer-main {
        margin: 0;
        padding: 0;
        height: 160vh;
    }

    .first_grid_section {
        margin: 0;
        height: 100vh;
        flex-direction: column;
    }

    .grid1 {
        width: 100%;
        padding-left: 1rem;
    }

    .iconStyle{
        width: 100%;
    }

    .grid2, .grid3, .grid4, .grid5 > p {
        width: 100%;
    }

    .grid2, .grid3, .grid4, .grid5 {
        width: 65%;
        padding-left: 1rem;
    }

    .second_grid_section {
        gap: 4px;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 13vh;
        text-align: start;
        flex-direction: column;
        align-items: flex-start;
    }

    .second_grid_section > div {
        width: 70%;
        padding-left: 1rem;
    }

    .third_grid_section {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 7vh;
        font-size: smaller;
        flex-direction: column;
        justify-content:flex-end;
    }

    .two_section_container {
        padding-top: 17rem;
    }
}