
.hero_section_container {
    height: 92vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_section_content{
    width: 45%;
    margin-top: 3rem; 
    height: max-content;
}    

.hero_section_content p{
    font-size: 46px;
    color: #1f4b43;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}

.hero_section_content div{
    width: 82%;
    font-size: 14px;
    color: #35384B;
    text-align: center;
    margin-left: 4.1rem;
}

.btn_container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

@media (max-width: 841px) {
    .hero_section_container {
        height: 92vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .hero_section_content{
        width: 100%;
        padding: 0 1rem;
        margin-top: 0rem;
    }    
    
    .hero_section_content p{
        font-size: 35px;
    }
    
    .hero_section_content div{
        padding: 0 1rem;
        border: solid blue;
        /* display: flex;
        align-items: start;
        justify-content: start; */
        text-align: centre;
        margin-left: 0;
    }
    
    .btn_container {
        margin-top: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
     
    }
}